{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<h1>User List:</h1>
<br>
<table class="table shadow">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="/edit_user/{{ user.id }}" class="btn btn-primary">Edit</a>
                <a href="/delete_user/{{ user.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<form action="/add_user" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-secondary") }}
    </div>
</form>
{% endif %}

{% endblock %}