{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if not name %}
<h1>Add User:</h1>
<br>

<div class="container shadow p-3">
    <form action="/add_user" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
        </div>
        <div class="row">
            <div class="col mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="col mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-secondary") }}
        </div>
    </form>
</div>
<br>
{% endif %}

<h2>User List:</h2>
<table class="table shadow">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <a href="{{ url_for('update_user', id=user.id) }}" class="btn btn-primary">Edit</a>
                <a href="{{ url_for('delete_user', id=user.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}