{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1 class="mb-4">User Dashboard</h1>

<div class="card">
    <div class="card-header">
        Hello <b>{{ current_user.name }}</b>!
    </div>
    <div class="card-text">
        <div class="container">
            <div class="row">
                <div class="col-8 mt-4">
                    <p><b>Id:</b> {{ current_user.id }}</p>
                    <p><b>Username:</b> {{ current_user.username }}</p>
                    <p><b>Email:</b> {{ current_user.email }}</p>
                    <p><b>Phone:</b> {{ current_user.phone }}</p>
                    <p><b>Account Created:</b> {{ current_user.date_created }}</p>
                    <p><b>About Me:</b> {{ current_user.about_me }}</p>
                </div>
                <div class="col-4">
                    <img class="img-thumbnail rounded float-end m-3" src="{{ url_for('static', filename='images/defaultprofilepic.jpg') }}"
                        alt="Default Profile Picture">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary btn-sm" href="{{ url_for('logout') }}">Log Out</a>
        <a class="btn btn-secondary btn-sm" href="{{ url_for('update_user', id=current_user.id) }}">Update User</a>
        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_user', id=current_user.id) }}">Delete Profile</a>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-header">
        Update Profile
    </div>
    <form action="{{ url_for('dashboard') }}" method="post">
        <div class="card-body">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=current_user.name) }}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=current_user.username) }}
            </div>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=current_user.email) }}
            </div>
            <div class="mb-3">
                {{ form.phone.label(class="form-label") }}
                {{ form.phone(class="form-control", value=current_user.phone) }}
            </div>
            <div class="mb-3">
                {{ form.about_me.label(class="form-label") }}
                {{ form.about_me(class="form-control") }}
            </div>
        </div>
        <div class="card-footer">
            {{ form.submit(class="btn btn-sm btn-secondary") }}
        </div>
    </form>
</div>
<br>

{% endblock %}