{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}

<h1>Hello {{ name|capitalize }}</h1>

{% else %}

<h1 class="mb-4">What is your name?</h1>

<form action="/name" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-secondary") }}
    </div>
</form>

{% endif %}

{% endblock %}