{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if post %}

<div class="container">

    <!-- Back to Posts -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('posts') }}">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>
    <div class="card shadow border-0">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <h6 class="card-subtitle mb-2 text-body-secondary">Published: {{ post.date_created }}</h6>
            <br>
            <p class="card-text">{{ post.content|safe }}</p>
            <br>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        {% if post.author.profile_pic %}
                        <img src="{{ url_for('static', filename='images/profile_pics/'+post.author.profile_pic) }}"
                            class="img-thumbnail rounded float-start m-3" alt="Profile Pic of {{ post.author.name }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/defaultprofilepic.jpg') }}"
                            class="img-thumbnail rounded float-start m-3" alt="Default Profile Picture">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.author.name }}</h5>
                        </div>
                        <p class="card-text">
                            {% if post.author.about_me %}
                            <b class="text-body-secondary">About Author</b>
                            <br>
                            {{ post.author.about_me }}
                            {% else %}
                            <b class="text-body-secondary">About Author</b>
                            <br>
                            No information available
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <a href="{{ url_for('posts') }}" class="btn btn-sm btn-outline-secondary">Back to Posts</a>
    {% if post.author.id == current_user.id %}
    <a href="{{ url_for('edit_post', slug=post.slug) }}" class="btn btn-sm btn-outline-secondary">Edit Post</a>
    <a href="{{ url_for('delete_post', slug=post.slug) }}" class="btn btn-sm btn-outline-danger">Delete Post</a>
    {% endif %}
</div>

{% else %}

<div class="container">
    <h1>Post Not Found</h1>
</div>

{% endif %}

{% endblock %}